### Importando bibliotecas

In [25]:
from pandas import read_csv, read_excel, isna

from math import isnan

from myFunctions import *

import pickleshare

#from numpy import

#from matplotlib import

#from scipy import

#from sklearn import

### Consumindo dados em CSV:

In [26]:
df = read_csv('../Data/CSV/RELATORIO-DE-SIFILIS-EM-GESTANTE2019-A-2023MOC.csv', sep=",", encoding='latin1', engine='python', thousands='.', decimal=',')
df.drop('DSMOTIVO', axis=1, inplace=True)
df.drop('ID_AGRAVO', axis=1, inplace=True)
df.drop('ID_MN_RESI', axis=1, inplace=True)
df.drop('MN_RESIDENCIS', axis=1, inplace=True)
tratando_Nan(df)

print(df)

df.head(10)

    DT_NOTIFIC  NU_ANO  ID_MUNICIP  ID_UNIDADE     DT_DIAG  NU_IDADE_N  \
0    1/28/2021    2021      314330     5998220   10/2/2020        4020
1     1/8/2021    2021      314330     2219654  12/23/2020        4022
2     2/6/2021    2021      314330     2219654    2/6/2021        4017
3     2/9/2021    2021      314330     2219654   12/7/2020        4032
4    2/11/2021    2021      314330     2149990    2/1/2021        4026
..         ...     ...         ...         ...         ...         ...
747  9/19/2022    2022      314330     2219077   9/19/2022        4020
748  10/5/2020    2020      314330     2219654   10/5/2020        4026
749  6/30/2021    2021      314330     2149990   6/29/2021        4017
750   9/6/2022    2022      314330     2219654    9/6/2022        4021
751  6/24/2022    2022      314330     2219654   6/24/2022        4019

     CS_GESTANT  CS_RACA  CS_ESCOL_N  CS_ZONA  TPCONFIRMA  TPESQUEMA  \
0             3      1.0         NaN      1.0         3.0        3.0
1             3      4.0         9.0      1.0         1.0        5.0
2             3      4.0         9.0      1.0         3.0        3.0
3             3      4.0         NaN      1.0         9.0        5.0
4             3      1.0         9.0      1.0         1.0        3.0
..          ...      ...         ...      ...         ...        ...
747           3      4.0         9.0      1.0         1.0        3.0
748           4      2.0         9.0      1.0         3.0        1.0
749           3      4.0         9.0      1.0         1.0        1.0
750           2      4.0         NaN      1.0         1.0        3.0
751           3      4.0         9.0      1.0         2.0        1.0

         TPMOTPARC  TPESQPAR  TRATPARC  CLASSI_FIN
0              1.0       5.0       2.0         1.0
1    Não Informado       5.0       2.0         1.0
2              6.0       5.0       2.0         1.0
3              1.0       5.0       2.0         1.0
4    Não Informado       5.0       2.0         1.0
..             ...       ...       ...         ...
747  Não Informado       1.0       1.0         1.0
748            2.0       5.0       2.0         1.0
749  Não Informado       5.0       2.0         1.0
750  Não Informado       1.0       1.0         1.0
751  Não Informado       1.0       1.0         1.0

[752 rows x 16 columns]

c:\Users\joaog\OneDrive\Área de Trabalho\CEFET2\sifilis_data_analisys\Code\myFunctions.py:27: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['TPMOTPARC'].fillna('Não Informado', inplace=True)
c:\Users\joaog\OneDrive\Área de Trabalho\CEFET2\sifilis_data_analisys\Code\myFunctions.py:27: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Não Informado' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['TPMOTPARC'].fillna('Não Informado', inplace=True)

,DT_NOTIFIC,NU_ANO,ID_MUNICIP,ID_UNIDADE,DT_DIAG,NU_IDADE_N,CS_GESTANT,CS_RACA,CS_ESCOL_N,CS_ZONA,TPCONFIRMA,TPESQUEMA,TPMOTPARC,TPESQPAR,TRATPARC,CLASSI_FIN
0,1/28/2021,2021,314330,5998220,10/2/2020,4020,3,1.0,NaN,1.0,3.0,3.0,1.0,5.0,2.0,1.0
1,1/8/2021,2021,314330,2219654,12/23/2020,4022,3,4.0,9.0,1.0,1.0,5.0,Não Informado,5.0,2.0,1.0
2,2/6/2021,2021,314330,2219654,2/6/2021,4017,3,4.0,9.0,1.0,3.0,3.0,6.0,5.0,2.0,1.0
3,2/9/2021,2021,314330,2219654,12/7/2020,4032,3,4.0,NaN,1.0,9.0,5.0,1.0,5.0,2.0,1.0
4,2/11/2021,2021,314330,2149990,2/1/2021,4026,3,1.0,9.0,1.0,1.0,3.0,Não Informado,5.0,2.0,1.0
5,2/16/2021,2021,314330,2219654,2/13/2021,4023,1,4.0,6.0,1.0,9.0,3.0,2.0,5.0,2.0,1.0
6,2/13/2021,2021,314330,2219654,2/12/2021,4028,3,4.0,9.0,9.0,1.0,3.0,Não Informado,5.0,2.0,1.0
7,9/10/2021,2021,314330,2219654,9/10/2021,4032,3,4.0,9.0,1.0,1.0,3.0,Não Informado,5.0,2.0,1.0
8,2/18/2021,2021,314330,2149990,2/16/2021,4019,3,2.0,9.0,1.0,1.0,3.0,Não Informado,5.0,2.0,1.0
9,3/1/2021,2021,314330,9854304,3/1/2021,4030,2,4.0,9.0,1.0,3.0,3.0,Não Informado,3.0,1.0,1.0

### Modificando o nome das colunas

In [27]:
rename_df_columns(df)
df.rename(columns={
    'NU_IDADE_N' : 'Idade'
    }, inplace=True)
print(df)

    Data_Notificacao   Ano  ID_MUNICIP  Unidade     DT_DIAG  Idade  \
0          1/28/2021  2021      314330  5998220   10/2/2020   4020
1           1/8/2021  2021      314330  2219654  12/23/2020   4022
2           2/6/2021  2021      314330  2219654    2/6/2021   4017
3           2/9/2021  2021      314330  2219654   12/7/2020   4032
4          2/11/2021  2021      314330  2149990    2/1/2021   4026
..               ...   ...         ...      ...         ...    ...
747        9/19/2022  2022      314330  2219077   9/19/2022   4020
748        10/5/2020  2020      314330  2219654   10/5/2020   4026
749        6/30/2021  2021      314330  2149990   6/29/2021   4017
750         9/6/2022  2022      314330  2219654    9/6/2022   4021
751        6/24/2022  2022      314330  2219654   6/24/2022   4019

     TriGestacional  Raca  Escolaridade  Residencia  TPCONFIRMA  Tratamento  \
0                 3   1.0           NaN         1.0         3.0         3.0
1                 3   4.0           9.0         1.0         1.0         5.0
2                 3   4.0           9.0         1.0         3.0         3.0
3                 3   4.0           NaN         1.0         9.0         5.0
4                 3   1.0           9.0         1.0         1.0         3.0
..              ...   ...           ...         ...         ...         ...
747               3   4.0           9.0         1.0         1.0         3.0
748               4   2.0           9.0         1.0         3.0         1.0
749               3   4.0           9.0         1.0         1.0         1.0
750               2   4.0           NaN         1.0         1.0         3.0
751               3   4.0           9.0         1.0         2.0         1.0

         TPMOTPARC  TPESQPAR  TratamentoParceiro  CLASSI_FIN
0              1.0       5.0                 2.0         1.0
1    Não Informado       5.0                 2.0         1.0
2              6.0       5.0                 2.0         1.0
3              1.0       5.0                 2.0         1.0
4    Não Informado       5.0                 2.0         1.0
..             ...       ...                 ...         ...
747  Não Informado       1.0                 1.0         1.0
748            2.0       5.0                 2.0         1.0
749  Não Informado       5.0                 2.0         1.0
750  Não Informado       1.0                 1.0         1.0
751  Não Informado       1.0                 1.0         1.0

[752 rows x 16 columns]

In [28]:
df.head()

,Data_Notificacao,Ano,ID_MUNICIP,Unidade,DT_DIAG,Idade,TriGestacional,Raca,Escolaridade,Residencia,TPCONFIRMA,Tratamento,TPMOTPARC,TPESQPAR,TratamentoParceiro,CLASSI_FIN
0,1/28/2021,2021,314330,5998220,10/2/2020,4020,3,1.0,NaN,1.0,3.0,3.0,1.0,5.0,2.0,1.0
1,1/8/2021,2021,314330,2219654,12/23/2020,4022,3,4.0,9.0,1.0,1.0,5.0,Não Informado,5.0,2.0,1.0
2,2/6/2021,2021,314330,2219654,2/6/2021,4017,3,4.0,9.0,1.0,3.0,3.0,6.0,5.0,2.0,1.0
3,2/9/2021,2021,314330,2219654,12/7/2020,4032,3,4.0,NaN,1.0,9.0,5.0,1.0,5.0,2.0,1.0
4,2/11/2021,2021,314330,2149990,2/1/2021,4026,3,1.0,9.0,1.0,1.0,3.0,Não Informado,5.0,2.0,1.0

### Conferindo todas as variáveis possíveis de uma coluna

In [29]:
df['Residencia'].unique()

array([ 1.,  9., nan,  2.])

### Observando quais colunas possuem linhas Nan e vazias

In [30]:
# print(df)
print(Count_null_values(df))
df.dropna(inplace=True)
print(df)

{'Data_Notificacao': 0, 'Ano': 0, 'ID_MUNICIP': 0, 'Unidade': 0, 'DT_DIAG': 0, 'Idade': 0, 'TriGestacional': 0, 'Raca': 13, 'Escolaridade': 71, 'Residencia': 16, 'TPCONFIRMA': 1, 'Tratamento': 1, 'TPMOTPARC': 0, 'TPESQPAR': 17, 'TratamentoParceiro': 7, 'CLASSI_FIN': 25}
    Data_Notificacao   Ano  ID_MUNICIP  Unidade     DT_DIAG  Idade  \
1           1/8/2021  2021      314330  2219654  12/23/2020   4022
2           2/6/2021  2021      314330  2219654    2/6/2021   4017
4          2/11/2021  2021      314330  2149990    2/1/2021   4026
5          2/16/2021  2021      314330  2219654   2/13/2021   4023
6          2/13/2021  2021      314330  2219654   2/12/2021   4028
..               ...   ...         ...      ...         ...    ...
746         5/4/2021  2021      314330  2149990    5/4/2021   4019
747        9/19/2022  2022      314330  2219077   9/19/2022   4020
748        10/5/2020  2020      314330  2219654   10/5/2020   4026
749        6/30/2021  2021      314330  2149990   6/29/2021   4017
751        6/24/2022  2022      314330  2219654   6/24/2022   4019

     TriGestacional  Raca  Escolaridade  Residencia  TPCONFIRMA  Tratamento  \
1                 3   4.0           9.0         1.0         1.0         5.0
2                 3   4.0           9.0         1.0         3.0         3.0
4                 3   1.0           9.0         1.0         1.0         3.0
5                 1   4.0           6.0         1.0         9.0         3.0
6                 3   4.0           9.0         9.0         1.0         3.0
..              ...   ...           ...         ...         ...         ...
746               3   9.0           9.0         1.0         1.0         4.0
747               3   4.0           9.0         1.0         1.0         3.0
748               4   2.0           9.0         1.0         3.0         1.0
749               3   4.0           9.0         1.0         1.0         1.0
751               3   4.0           9.0         1.0         2.0         1.0

         TPMOTPARC  TPESQPAR  TratamentoParceiro  CLASSI_FIN
1    Não Informado       5.0                 2.0         1.0
2              6.0       5.0                 2.0         1.0
4    Não Informado       5.0                 2.0         1.0
5              2.0       5.0                 2.0         1.0
6    Não Informado       5.0                 2.0         1.0
..             ...       ...                 ...         ...
746  Não Informado       5.0                 2.0         1.0
747  Não Informado       1.0                 1.0         1.0
748            2.0       5.0                 2.0         1.0
749  Não Informado       5.0                 2.0         1.0
751  Não Informado       1.0                 1.0         1.0

[625 rows x 16 columns]

### Extraindo as idades da coluna NU_IDADE_N

In [31]:
# df = df[df['Escolaridade'] != 9]

df['Idade'] = df['Idade'].apply(lambda x: x % 100)

#### Substituindo dados sobre raças e Zona de Residência

In [32]:
# Mapeamento de valores para as etnias
mapeamento_raca = {
    1: 'Branca',
    2: 'Preta',
    3: 'Amarela',
    4: 'Parda',
    5: 'Indígena',
    9: 'Não Assinalado na Ficha'
}

mapeamento_resid = {
    1 :'Urbana',
    2 :'Rural',
    3 :'Periurbana',
    9 :'Ignorado'
}

mapeamento_escolaridade = {
    1:'1ª a 4ª série incompleta do EF',
    2:'4ª série completa do EF',
    3:'5ª à 8ª série incompleta do EF',
    4:'Fundamental completo',
    5:'Médio incompleto ',
    6:'Médio completo ',
    7:'Superior incompleta',
    8:'Educação superior completa',
    9:'Ignorado',
    10: 'Não se aplica'
}

mapeamento_trat = {
1 :"Penicilina G benzantina 2.400.000 UI ",
2 :"Penicilina G benzantina 4.800.000 UI ",
3 :"Penicilina G benzantina 7.200.000 UI",
4 :"Outro esquema ",
5 :"Não realizado ",
9 :"Ignorado"
}

mapeamento_trigest = {
1 :"1º",
2 :"2º",
3 :"3º",
4 :"Idade Gestacional Ignorada",
9 :"Ignorado",
}

# Substituir os valores na coluna 'etnia'
df['Raca'] = df['Raca'].map(mapeamento_raca)
df['Residencia'] = df['Residencia'].map(mapeamento_resid)
df['Escolaridade'] = df['Escolaridade'].map(mapeamento_escolaridade)
df['Tratamento'] = df['Tratamento'].map(mapeamento_trat)
df['TriGestacional'] = df['TriGestacional'].map(mapeamento_trigest)

In [ ]:


# Função para converter a formatação
def formatar_penicilina(valor):
    if isna(valor):  # Se for NaN, mantém como está
        return valor
    elif "4.800.000" in valor:
        return "PGB 4.800.000 UI"
        print("AQUI")
    elif "2.400.000" in valor:
        return "PGB 2.400.000 UI"
        print("AQUI")
    elif "7.200.000" in valor:
        return "PGB 7.200.000 UI"
        print("AQUI")
    else:
        return valor  # Retorna o valor original caso não se encaixe nos padrões
        print("AQUI")

# Aplicando a conversão na coluna de tratamento
df['Tratamento'] = df['Tratamento'].apply(formatar_penicilina)

# Exibindo alguns valores para conferir
print(df['Tratamento'].unique())

['Não realizado ' 'Penicilina G benzantina 7,2×10⁵ UI'
 'Penicilina G benzantina 2,4×10⁵ UI' 'Outro esquema '
 'PGB Penicilina G benzantina 4,8×10⁵ UI' 'Ignorado']

### Uma breve análise dos dados

In [34]:
print(df['Ano'].value_counts())
print(df['Unidade'].value_counts())
print(df['TriGestacional'].value_counts())
print(df['Raca'].value_counts())
print(df['Escolaridade'].value_counts())
print(df['Residencia'].value_counts())
print(df['Tratamento'].value_counts())
print(df['TratamentoParceiro'].value_counts())

print(df['TPCONFIRMA'].value_counts())

Ano
2021    154
2019    127
2020    122
2022    119
2023    103
Name: count, dtype: int64
Unidade
2219654    207
2149990    152
7366108     29
5492300     10
2219069      9
          ...
2150093      1
6329632      1
2219085      1
9344381      1
5302897      1
Name: count, Length: 84, dtype: int64
TriGestacional
3º                            267
1º                            143
Idade Gestacional Ignorada    116
2º                             99
Name: count, dtype: int64
Raca
Parda                      402
Não Assinalado na Ficha    134
Branca                      46
Preta                       40
Amarela                      2
Indígena                     1
Name: count, dtype: int64
Escolaridade
Ignorado                          395
Médio completo                    110
Médio incompleto                   50
5ª à 8ª série incompleta do EF     26
Fundamental completo               17
Superior incompleta                 9
4ª série completa do EF             7
Educação superior completa          6
1ª a 4ª série incompleta do EF      5
Name: count, dtype: int64
Residencia
Urbana      614
Rural         9
Ignorado      2
Name: count, dtype: int64
Tratamento
Penicilina G benzantina 7,2×10⁵ UI        336
Penicilina G benzantina 2,4×10⁵ UI        128
Outro esquema                              69
Não realizado                              35
PGB Penicilina G benzantina 4,8×10⁵ UI     33
Ignorado                                   24
Name: count, dtype: int64
TratamentoParceiro
2.0    385
1.0    189
9.0     51
Name: count, dtype: int64
TPCONFIRMA
1.0    424
3.0    149
9.0     39
2.0     13
Name: count, dtype: int64

### Análise Descritiva Inicial

In [35]:
#Raça da gestante: Proporção por categorias.
print("\nRaça por gestante:")
print(df['Raca'].value_counts(normalize=True) * 100)

#Zona de residência: Frequência por zona (rural, urbana, etc.).
print("\nResidência por gestante:")
print(df['Residencia'].value_counts(normalize=True) * 100)

#Grau de escolaridade: Percentuais por níveis de escolaridade.
print("\nEscolaridade por gestante:")
print(df['Escolaridade'].value_counts(normalize=True) * 100)

#Trimestre gestacional do diagnóstico: Identificar em que trimestre a maioria dos casos foram diagnosticados#.
print("\nTrimestre gestacional por gestante:")
print(df['TriGestacional'].value_counts(normalize=True) * 100)

Raça por gestante:
Raca
Parda                      64.32
Não Assinalado na Ficha    21.44
Branca                      7.36
Preta                       6.40
Amarela                     0.32
Indígena                    0.16
Name: proportion, dtype: float64

Residência por gestante:
Residencia
Urbana      98.24
Rural        1.44
Ignorado     0.32
Name: proportion, dtype: float64

Escolaridade por gestante:
Escolaridade
Ignorado                          63.20
Médio completo                    17.60
Médio incompleto                   8.00
5ª à 8ª série incompleta do EF     4.16
Fundamental completo               2.72
Superior incompleta                1.44
4ª série completa do EF            1.12
Educação superior completa         0.96
1ª a 4ª série incompleta do EF     0.80
Name: proportion, dtype: float64

Trimestre gestacional por gestante:
TriGestacional
3º                            42.72
1º                            22.88
Idade Gestacional Ignorada    18.56
2º                            15.84
Name: proportion, dtype: float64

In [36]:
df.to_csv('../Data/CSV/csv_sifilis_moc_2019_2023.csv', sep=",", encoding='latin1', decimal=',', index=False)

UnicodeEncodeError: 'latin-1' codec can't encode character '\u2075' in position 103: ordinal not in range(256)