### Importando bibliotecas

In [13]:
from pandas import read_csv, read_excel

from math import isnan

from myFunctions import *

import pickleshare

#from numpy import

#from matplotlib import

#from scipy import

#from sklearn import

### Consumindo dados em CSV:

In [14]:
df = read_csv('../Data/CSV/RELATORIO-DE-SIFILIS-EM-GESTANTE2019-A-2023MOC.csv', sep=",", encoding='latin1', engine='python', thousands='.', decimal=',')
df.drop('DSMOTIVO', axis=1, inplace=True)
df.drop('ID_AGRAVO', axis=1, inplace=True)
df.drop('ID_MN_RESI', axis=1, inplace=True)
df.drop('MN_RESIDENCIS', axis=1, inplace=True)
tratando_Nan(df)

print(df)

df.head(10)

    DT_NOTIFIC  NU_ANO  ID_MUNICIP  ID_UNIDADE     DT_DIAG  NU_IDADE_N  \
0    1/28/2021    2021      314330     5998220   10/2/2020        4020
1     1/8/2021    2021      314330     2219654  12/23/2020        4022
2     2/6/2021    2021      314330     2219654    2/6/2021        4017
3     2/9/2021    2021      314330     2219654   12/7/2020        4032
4    2/11/2021    2021      314330     2149990    2/1/2021        4026
..         ...     ...         ...         ...         ...         ...
747  9/19/2022    2022      314330     2219077   9/19/2022        4020
748  10/5/2020    2020      314330     2219654   10/5/2020        4026
749  6/30/2021    2021      314330     2149990   6/29/2021        4017
750   9/6/2022    2022      314330     2219654    9/6/2022        4021
751  6/24/2022    2022      314330     2219654   6/24/2022        4019

     CS_GESTANT  CS_RACA  CS_ESCOL_N  CS_ZONA  TPCONFIRMA  TPESQUEMA  \
0             3      1.0         NaN      1.0         3.0        3.0
1             3      4.0         9.0      1.0         1.0        5.0
2             3      4.0         9.0      1.0         3.0        3.0
3             3      4.0         NaN      1.0         9.0        5.0
4             3      1.0         9.0      1.0         1.0        3.0
..          ...      ...         ...      ...         ...        ...
747           3      4.0         9.0      1.0         1.0        3.0
748           4      2.0         9.0      1.0         3.0        1.0
749           3      4.0         9.0      1.0         1.0        1.0
750           2      4.0         NaN      1.0         1.0        3.0
751           3      4.0         9.0      1.0         2.0        1.0

         TPMOTPARC  TPESQPAR  TRATPARC  CLASSI_FIN
0              1.0       5.0       2.0         1.0
1    Não Informado       5.0       2.0         1.0
2              6.0       5.0       2.0         1.0
3              1.0       5.0       2.0         1.0
4    Não Informado       5.0       2.0         1.0
..             ...       ...       ...         ...
747  Não Informado       1.0       1.0         1.0
748            2.0       5.0       2.0         1.0
749  Não Informado       5.0       2.0         1.0
750  Não Informado       1.0       1.0         1.0
751  Não Informado       1.0       1.0         1.0

[752 rows x 16 columns]

c:\Users\joaog\OneDrive\Área de Trabalho\CEFET2\sifilis_data_analisys\Code\myFunctions.py:27: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['TPMOTPARC'].fillna('Não Informado', inplace=True)
c:\Users\joaog\OneDrive\Área de Trabalho\CEFET2\sifilis_data_analisys\Code\myFunctions.py:27: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Não Informado' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['TPMOTPARC'].fillna('Não Informado', inplace=True)

,DT_NOTIFIC,NU_ANO,ID_MUNICIP,ID_UNIDADE,DT_DIAG,NU_IDADE_N,CS_GESTANT,CS_RACA,CS_ESCOL_N,CS_ZONA,TPCONFIRMA,TPESQUEMA,TPMOTPARC,TPESQPAR,TRATPARC,CLASSI_FIN
0,1/28/2021,2021,314330,5998220,10/2/2020,4020,3,1.0,NaN,1.0,3.0,3.0,1.0,5.0,2.0,1.0
1,1/8/2021,2021,314330,2219654,12/23/2020,4022,3,4.0,9.0,1.0,1.0,5.0,Não Informado,5.0,2.0,1.0
2,2/6/2021,2021,314330,2219654,2/6/2021,4017,3,4.0,9.0,1.0,3.0,3.0,6.0,5.0,2.0,1.0
3,2/9/2021,2021,314330,2219654,12/7/2020,4032,3,4.0,NaN,1.0,9.0,5.0,1.0,5.0,2.0,1.0
4,2/11/2021,2021,314330,2149990,2/1/2021,4026,3,1.0,9.0,1.0,1.0,3.0,Não Informado,5.0,2.0,1.0
5,2/16/2021,2021,314330,2219654,2/13/2021,4023,1,4.0,6.0,1.0,9.0,3.0,2.0,5.0,2.0,1.0
6,2/13/2021,2021,314330,2219654,2/12/2021,4028,3,4.0,9.0,9.0,1.0,3.0,Não Informado,5.0,2.0,1.0
7,9/10/2021,2021,314330,2219654,9/10/2021,4032,3,4.0,9.0,1.0,1.0,3.0,Não Informado,5.0,2.0,1.0
8,2/18/2021,2021,314330,2149990,2/16/2021,4019,3,2.0,9.0,1.0,1.0,3.0,Não Informado,5.0,2.0,1.0
9,3/1/2021,2021,314330,9854304,3/1/2021,4030,2,4.0,9.0,1.0,3.0,3.0,Não Informado,3.0,1.0,1.0

### Modificando o nome das colunas

In [15]:
rename_df_columns(df)
print(df)

    Data_Notificacao   Ano  ID_MUNICIP  Unidade     DT_DIAG  NU_IDADE_N  \
0          1/28/2021  2021      314330  5998220   10/2/2020        4020
1           1/8/2021  2021      314330  2219654  12/23/2020        4022
2           2/6/2021  2021      314330  2219654    2/6/2021        4017
3           2/9/2021  2021      314330  2219654   12/7/2020        4032
4          2/11/2021  2021      314330  2149990    2/1/2021        4026
..               ...   ...         ...      ...         ...         ...
747        9/19/2022  2022      314330  2219077   9/19/2022        4020
748        10/5/2020  2020      314330  2219654   10/5/2020        4026
749        6/30/2021  2021      314330  2149990   6/29/2021        4017
750         9/6/2022  2022      314330  2219654    9/6/2022        4021
751        6/24/2022  2022      314330  2219654   6/24/2022        4019

     TriGestacional  Raca  Escolaridade  Residencia  TPCONFIRMA  Tratamento  \
0                 3   1.0           NaN         1.0         3.0         3.0
1                 3   4.0           9.0         1.0         1.0         5.0
2                 3   4.0           9.0         1.0         3.0         3.0
3                 3   4.0           NaN         1.0         9.0         5.0
4                 3   1.0           9.0         1.0         1.0         3.0
..              ...   ...           ...         ...         ...         ...
747               3   4.0           9.0         1.0         1.0         3.0
748               4   2.0           9.0         1.0         3.0         1.0
749               3   4.0           9.0         1.0         1.0         1.0
750               2   4.0           NaN         1.0         1.0         3.0
751               3   4.0           9.0         1.0         2.0         1.0

         TPMOTPARC  TPESQPAR  TratamentoParceiro  CLASSI_FIN
0              1.0       5.0                 2.0         1.0
1    Não Informado       5.0                 2.0         1.0
2              6.0       5.0                 2.0         1.0
3              1.0       5.0                 2.0         1.0
4    Não Informado       5.0                 2.0         1.0
..             ...       ...                 ...         ...
747  Não Informado       1.0                 1.0         1.0
748            2.0       5.0                 2.0         1.0
749  Não Informado       5.0                 2.0         1.0
750  Não Informado       1.0                 1.0         1.0
751  Não Informado       1.0                 1.0         1.0

[752 rows x 16 columns]

### Conferindo todas as variáveis possíveis de uma coluna

In [16]:
df['Residencia'].unique()

array([ 1.,  9., nan,  2.])

### Observando quais colunas possuem linhas Nan e vazias

In [17]:
# print(df)
print(Count_null_values(df))
df.dropna(inplace=True)
print(df)

{'Data_Notificacao': 0, 'Ano': 0, 'ID_MUNICIP': 0, 'Unidade': 0, 'DT_DIAG': 0, 'NU_IDADE_N': 0, 'TriGestacional': 0, 'Raca': 13, 'Escolaridade': 71, 'Residencia': 16, 'TPCONFIRMA': 1, 'Tratamento': 1, 'TPMOTPARC': 0, 'TPESQPAR': 17, 'TratamentoParceiro': 7, 'CLASSI_FIN': 25}
    Data_Notificacao   Ano  ID_MUNICIP  Unidade     DT_DIAG  NU_IDADE_N  \
1           1/8/2021  2021      314330  2219654  12/23/2020        4022
2           2/6/2021  2021      314330  2219654    2/6/2021        4017
4          2/11/2021  2021      314330  2149990    2/1/2021        4026
5          2/16/2021  2021      314330  2219654   2/13/2021        4023
6          2/13/2021  2021      314330  2219654   2/12/2021        4028
..               ...   ...         ...      ...         ...         ...
746         5/4/2021  2021      314330  2149990    5/4/2021        4019
747        9/19/2022  2022      314330  2219077   9/19/2022        4020
748        10/5/2020  2020      314330  2219654   10/5/2020        4026
749        6/30/2021  2021      314330  2149990   6/29/2021        4017
751        6/24/2022  2022      314330  2219654   6/24/2022        4019

     TriGestacional  Raca  Escolaridade  Residencia  TPCONFIRMA  Tratamento  \
1                 3   4.0           9.0         1.0         1.0         5.0
2                 3   4.0           9.0         1.0         3.0         3.0
4                 3   1.0           9.0         1.0         1.0         3.0
5                 1   4.0           6.0         1.0         9.0         3.0
6                 3   4.0           9.0         9.0         1.0         3.0
..              ...   ...           ...         ...         ...         ...
746               3   9.0           9.0         1.0         1.0         4.0
747               3   4.0           9.0         1.0         1.0         3.0
748               4   2.0           9.0         1.0         3.0         1.0
749               3   4.0           9.0         1.0         1.0         1.0
751               3   4.0           9.0         1.0         2.0         1.0

         TPMOTPARC  TPESQPAR  TratamentoParceiro  CLASSI_FIN
1    Não Informado       5.0                 2.0         1.0
2              6.0       5.0                 2.0         1.0
4    Não Informado       5.0                 2.0         1.0
5              2.0       5.0                 2.0         1.0
6    Não Informado       5.0                 2.0         1.0
..             ...       ...                 ...         ...
746  Não Informado       5.0                 2.0         1.0
747  Não Informado       1.0                 1.0         1.0
748            2.0       5.0                 2.0         1.0
749  Não Informado       5.0                 2.0         1.0
751  Não Informado       1.0                 1.0         1.0

[625 rows x 16 columns]

### Uma breve análise dos dados

In [18]:
print(df['Ano'].value_counts())
print(df['Unidade'].value_counts())
print(df['TriGestacional'].value_counts())
print(df['Raca'].value_counts())
print(df['Escolaridade'].value_counts())
print(df['Residencia'].value_counts())
print(df['TipoTeste'].value_counts())
print(df['Tratamento'].value_counts())
print(df['TratamentoParceiro'].value_counts())

Ano
2021    154
2019    127
2020    122
2022    119
2023    103
Name: count, dtype: int64
Unidade
2219654    207
2149990    152
7366108     29
5492300     10
2219069      9
          ...
2150093      1
6329632      1
2219085      1
9344381      1
5302897      1
Name: count, Length: 84, dtype: int64
TriGestacional
3    267
1    143
4    116
2     99
Name: count, dtype: int64
Raca
4.0    402
9.0    134
1.0     46
2.0     40
3.0      2
5.0      1
Name: count, dtype: int64
Escolaridade
9.0    395
6.0    110
5.0     50
3.0     26
4.0     17
7.0      9
2.0      7
8.0      6
1.0      5
Name: count, dtype: int64

Residencia
1.0    614
2.0      9
9.0      2
Name: count, dtype: int64

KeyError: 'TipoTeste'

### Análise Descritiva Inicial

In [ ]:
#Raça da gestante: Proporção por categorias.
print("\nRaça por gestante:")
print(df['Raca'].value_counts(normalize=True) * 100)

#Zona de residência: Frequência por zona (rural, urbana, etc.).
print("\nResidência por gestante:")
print(df['Residencia'].value_counts(normalize=True) * 100)

#Grau de escolaridade: Percentuais por níveis de escolaridade.
print("\nEscolaridade por gestante:")
print(df['Escolaridade'].value_counts(normalize=True) * 100)

#Trimestre gestacional do diagnóstico: Identificar em que trimestre a maioria dos casos foram diagnosticados#.
print("\nTrimestre gestacional por gestante:")
print(df['TriGestacional'].value_counts(normalize=True) * 100)

Raça por gestante:
Raca
4.0    67.211704
9.0    14.802065
1.0     9.208262
2.0     8.261618
3.0     0.344234
5.0     0.172117
Name: proportion, dtype: float64

Residência por gestante:
Residencia
1.0    89.328744
2.0    10.068847
9.0     0.430293
3.0     0.172117
Name: proportion, dtype: float64

Escolaridade por gestante:
Escolaridade
9.0    45.524957
6.0    22.633391
5.0    13.597246
3.0     7.401033
4.0     5.077453
2.0     1.635112
1.0     1.462995
8.0     1.376936
7.0     1.204819
0.0     0.086059
Name: proportion, dtype: float64

Trimestre gestacional por gestante:
TriGestacional
3    42.771084
1    26.936317
2    15.576592
4    14.716007
Name: proportion, dtype: float64

In [19]:
df.to_csv('../Data/CSV/csv_sifilis_moc_2019_2023.csv', sep=",", encoding='latin1', decimal=',', index=False)