### Importando bibliotecas

In [15]:
from pandas import read_csv, read_excel

from myFunctions import *

#from numpy import

#from matplotlib import

#from scipy import

#from sklearn import

### Consumindo dados em CSV:

In [16]:
df = read_excel('../Data/XLSX/10C_SIFILIS ADRIANA2019_a_2023.xlsx')

print(df)

df.head(2)

     DT_NOTIFIC  NU_ANO  ID_UNIDADE  CS_GESTANT  CS_RACA  CS_ESCOL_N  CS_ZONA  \
0    2021-02-03    2021     2104830           1      4.0         3.0      1.0
1    2021-01-18    2021     2219654           3      4.0         9.0      1.0
2    2021-01-28    2021     5998220           3      1.0         NaN      1.0
3    2021-01-08    2021     2219654           3      4.0         9.0      1.0
4    2021-02-06    2021     2219654           3      4.0         9.0      1.0
...         ...     ...         ...         ...      ...         ...      ...
1346 2023-12-02    2023     2149990           4      4.0         9.0      1.0
1347 2023-04-20    2023     2149990           3      9.0         NaN      1.0
1348 2023-05-03    2023     2105314           2      2.0         4.0      1.0
1349 2023-02-22    2023     2105314           2      4.0         NaN      2.0
1350 2023-01-10    2023     2105462           2      1.0         3.0      1.0

      TPTESTE1  TPESQUEMA  TRATPARC
0          1.0        2.0       2.0
1          1.0        1.0       2.0
2          1.0        3.0       2.0
3          1.0        5.0       2.0
4          1.0        3.0       2.0
...        ...        ...       ...
1346       1.0        9.0       9.0
1347       1.0        5.0       9.0
1348       1.0        3.0       2.0
1349       1.0        3.0       1.0
1350       3.0        3.0       1.0

[1351 rows x 10 columns]

,DT_NOTIFIC,NU_ANO,ID_UNIDADE,CS_GESTANT,CS_RACA,CS_ESCOL_N,CS_ZONA,TPTESTE1,TPESQUEMA,TRATPARC
0,2021-02-03,2021,2104830,1,4.0,3.0,1.0,1.0,2.0,2.0
1,2021-01-18,2021,2219654,3,4.0,9.0,1.0,1.0,1.0,2.0

### Modificando o nome das colunas

In [17]:
rename_df_columns(df)
print(df)

     Data_Notificacao   Ano  Unidade  TriGestacional  Raca  Escolaridade  \
0          2021-02-03  2021  2104830               1   4.0           3.0
1          2021-01-18  2021  2219654               3   4.0           9.0
2          2021-01-28  2021  5998220               3   1.0           NaN
3          2021-01-08  2021  2219654               3   4.0           9.0
4          2021-02-06  2021  2219654               3   4.0           9.0
...               ...   ...      ...             ...   ...           ...
1346       2023-12-02  2023  2149990               4   4.0           9.0
1347       2023-04-20  2023  2149990               3   9.0           NaN
1348       2023-05-03  2023  2105314               2   2.0           4.0
1349       2023-02-22  2023  2105314               2   4.0           NaN
1350       2023-01-10  2023  2105462               2   1.0           3.0

      Residencia  TipoTeste  Tratamento  TratamentoParceiro
0            1.0        1.0         2.0                 2.0
1            1.0        1.0         1.0                 2.0
2            1.0        1.0         3.0                 2.0
3            1.0        1.0         5.0                 2.0
4            1.0        1.0         3.0                 2.0
...          ...        ...         ...                 ...
1346         1.0        1.0         9.0                 9.0
1347         1.0        1.0         5.0                 9.0
1348         1.0        1.0         3.0                 2.0
1349         2.0        1.0         3.0                 1.0
1350         1.0        3.0         3.0                 1.0

[1351 rows x 10 columns]

### Observando quais colunas possuem linhas Nan e vazias

In [18]:
print(df)
print(Count_null_values(df))

     Data_Notificacao   Ano  Unidade  TriGestacional  Raca  Escolaridade  \
0          2021-02-03  2021  2104830               1   4.0           3.0
1          2021-01-18  2021  2219654               3   4.0           9.0
2          2021-01-28  2021  5998220               3   1.0           NaN
3          2021-01-08  2021  2219654               3   4.0           9.0
4          2021-02-06  2021  2219654               3   4.0           9.0
...               ...   ...      ...             ...   ...           ...
1346       2023-12-02  2023  2149990               4   4.0           9.0
1347       2023-04-20  2023  2149990               3   9.0           NaN
1348       2023-05-03  2023  2105314               2   2.0           4.0
1349       2023-02-22  2023  2105314               2   4.0           NaN
1350       2023-01-10  2023  2105462               2   1.0           3.0

      Residencia  TipoTeste  Tratamento  TratamentoParceiro
0            1.0        1.0         2.0                 2.0
1            1.0        1.0         1.0                 2.0
2            1.0        1.0         3.0                 2.0
3            1.0        1.0         5.0                 2.0
4            1.0        1.0         3.0                 2.0
...          ...        ...         ...                 ...
1346         1.0        1.0         9.0                 9.0
1347         1.0        1.0         5.0                 9.0
1348         1.0        1.0         3.0                 2.0
1349         2.0        1.0         3.0                 1.0
1350         1.0        3.0         3.0                 1.0

[1351 rows x 10 columns]
{'Data_Notificacao': 0, 'Ano': 0, 'Unidade': 0, 'TriGestacional': 0, 'Raca': 16, 'Escolaridade': 139, 'Residencia': 24, 'TipoTeste': 1, 'Tratamento': 1, 'TratamentoParceiro': 27}

### Uma breve an√°lise dos dados

In [24]:
print(df['Ano'].value_counts(normalize=True) * 100)
print(df['Unidade'].value_counts(normalize=True) * 100)
print(df['TriGestacional'].value_counts(normalize=True) * 100)
print(df['Raca'].value_counts(normalize=True) * 100)
print(df['Escolaridade'].value_counts(normalize=True) * 100)
print(df['Residencia'].value_counts(normalize=True) * 100)
print(df['TipoTeste'].value_counts(normalize=True) * 100)
print(df['Tratamento'].value_counts(normalize=True) * 100)
print(df['TratamentoParceiro'].value_counts(normalize=True) * 100)

Ano
2023    24.574389
2021    22.057735
2022    18.948927
2020    17.394523
2019    17.024426
Name: proportion, dtype: float64
Unidade
2219654    19.096965
2149990    18.060696
2205939     9.252406
2119471     3.404885
7366108     2.442635
             ...
3022641     0.074019
6226876     0.074019
2193930     0.074019
2193922     0.074019
6577164     0.074019
Name: proportion, Length: 239, dtype: float64
TriGestacional
3    42.264989
1    27.313101
2    16.210215
4    14.211695
Name: proportion, dtype: float64
Raca
4.0    67.265918
9.0    14.307116
1.0     9.438202
2.0     8.389513
3.0     0.449438
5.0     0.149813
Name: proportion, dtype: float64
Escolaridade
9.0    45.132013
6.0    22.772277
5.0    13.531353
3.0     7.178218
4.0     5.363036
2.0     1.650165
1.0     1.485149
8.0     1.402640
7.0     1.320132
0.0     0.165017
Name: proportion, dtype: float64
Residencia
1.0    89.223813
2.0    10.097965
9.0     0.527506
3.0     0.150716
Name: proportion, dtype: float64
TipoTeste
1.0    83.777778
3.0     9.185185
2.0     3.851852
9.0     3.185185
Name: proportion, dtype: float64
Tratamento
3.0    45.259259
1.0    29.629630
4.0     8.444444
5.0     6.814815
2.0     6.000000
9.0     3.851852
Name: proportion, dtype: float64
TratamentoParceiro
2.0    55.211480
1.0    35.271903
9.0     9.516616
Name: proportion, dtype: float64